<!DOCTYPE html>
<html>

<head>
    <title>Diccionario</title>
    <!-- Latest compiled and minified CSS -->
    <!-- First include jquery js -->
    <% include static/head %>
</head>

<body>
    <% include static/navbar %>
        <div class="align-self-center"></div>
        <div class="container ">

            <div class="row ">
                <div class="col-xs-12 col-sm-3">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 mt-3">
                            <p class="h4 mb-4">Crear palabra</p>
                            <div class="form-group">
                                <input type="text" id="nombre" class="form-control mb-4"
                                    placeholder="Nombre de la palabra">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-7 mt-3">
                            <div class="form-group">
                                <input type="text" id="url_video" class="form-control mb-4"
                                    placeholder="Nombre de archivo" disabled=true>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 mt-3">
                            <div class="form-group">
                                <input type="file" name="multi-files" id="selectedFile" class="form-control-file border"
                                    style="display: none;" />
                                <button class="btn btn-primary" style="width: 100%;" onclick="extraerarchivo()">
                                    Buscar Archivos
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                        <path fill-rule="evenodd"
                                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 mt-3 ">
                            <div class="form-group ">
                                <button class="btn btn-primary" id="subirserver" style="width: 100%;" onclick="ingresarVideo()" disabled>
                                    Subir Video
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-up-fill"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 1 0V6.707l1.146 1.147a.5.5 0 0 0 .708-.708z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 mt-3" id="cajaCrearPalabra" style="display: none;">
                            <div class="form-group ">
                                <button class="btn btn-success" id="crearpalabra" style="width: 100%;" onclick="crearPalabra()" disabled>
                                    Crear Palabra
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book-fill"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 mt-3 ">
                            <div class="alert alert-info alert-dismissible fade" role="alert" id="alerta1">
                                ¡Video subido al servidor!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-warning alert-dismissible fade" role="alert" id="alerta2">
                                ¡Ingrese un video para publicar!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
<script>
    if (localStorage.getItem("usuariodiccionario") == undefined) {
        window.location.replace("/");
    }
    //    if( document.getElementById("selectedFile").files.length != 0 ){
    //console.log("no files selected");
    //                document.getElementById('crearpalabra').disabled = false;
    //        }
    async function extraerarchivo() {
        await document.getElementById('selectedFile').click();
        document.getElementById('subirserver').disabled = false;
    }
    async function ingresarVideo() {
        if (document.getElementById("selectedFile").files.length == 0) {
            //console.log("no files selected");
            document.getElementById('subirserver').disabled = true;
            $('#alerta2').addClass('show');
            return;
        }
        let input = document.getElementById('selectedFile');
        var ruta_archivo = ''
        var data = new FormData()
        for (const file of input.files) {
            data.append('files', file, file.name)
        }
        document.getElementById('url_video').value = input.files[0].name

        await fetch('/subir_archivos', {
            method: 'POST', // or 'PUT'
            body: data,  // data can be `string` or {object}!
            }) // data can be `string` or {object}!})
            .then(function (response) {

                return response.json();
            })
            .then(function (myJson) {
                let resultado = myJson.result;
                //console.log(resultado)
                localStorage.setItem("ruta_archivo_palabra_nueva", resultado)
                $('#alerta1').addClass('show');
                
                document.getElementById('crearpalabra').disabled = false;
                document.getElementById('cajaCrearPalabra').style.display='inline'
            });
    }
    //console.log(localStorage.getItem("usuariodiccionario"))
    async function crearPalabra() {
        let nombre = document.getElementById('nombre').value
        let letrainicial = nombre.charAt(0).toUpperCase()
        let url_video = localStorage.getItem("ruta_archivo_palabra_nueva")
        let estado = 0
        let usuario_logueado = localStorage.getItem("usuariodiccionario")
        let usuario_id = usuario_logueado

        let body = {
            nombre: nombre,
            letra: letrainicial,
            url_video: url_video,
            estado: estado,
            usuario_id: usuario_id
        }
        await fetch('/api/v1/palabras', {
            method: 'POST', // or 'PUT'
            body: JSON.stringify(body),  // data can be `string` or {object}!
            headers: {
                'Content-Type': 'application/json'
            }
        }) // data can be `string` or {object}!})
            .then(function (response) {

                return response.json();
            })
            .then(function (myJson) {
                let resultado = myJson.find;
                //console.log(myJson.result)
                alert("Solicitud de nueva palabra para diccionario enviada, por favor espera el resultado de su análisis.");
                window.location.replace("/index");
            });

    }
</Script>

</html>