<!DOCTYPE html>
<html>

<head>
    <title>Diccionario</title>
    <!-- Latest compiled and minified CSS -->
    <!-- First include jquery js -->
    <% include static/head %>
</head>

<body>
    <% include static/navbar %>
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h3>Mis aportes al diccionario</h3>
                    <table class="table table-striped table-hover table-light">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Url Video</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="cuerpo">

                        </tbody>
                    </table>
                </div>
            </div>

</body>
<script>
    //window.location.replace("/error");
    if (localStorage.getItem("usuariodiccionario") == undefined) {
        window.location.replace("/");
    }
    if (localStorage.getItem("administradordiccionario") == 1) {
        window.location.replace("/dashboard");
    }

    async function getDatadash() {
        let usuario_id = localStorage.getItem("usuariodiccionario")
        await fetch('/api/v1/palabras/user/' + usuario_id, {
            method: 'GET', // or 'PUT'
        }) // data can be `string` or {object}!})
            .then(function (response) {

                return response.json();
            })
            .then(function (myJson) {
                let resultado = myJson.find;
                console.log(myJson.result)
                let arreglo_resultado = myJson.result
                var Table = document.getElementById("cuerpo");
                Table.innerHTML = "";
                let nonum = arreglo_resultado.length;
                if (nonum == 0) {
                    Table.innerHTML = "No hay nuevas palabras para analizar";

                } else {
                    arreglo_resultado.forEach(element => {
                        var table = document.getElementById("cuerpo");
                        var row = table.insertRow(0);
                        var cell0 = row.insertCell(0);
                        var cell1 = row.insertCell(1);
                        var cell2 = row.insertCell(2);
                        var cell3 = row.insertCell(3);

                        var cell4 = row.insertCell(4);
                        cell0.innerHTML = nonum;
                        cell1.innerHTML = element.nombre;
                        cell2.innerHTML = element.url_video;
                        cell3.innerHTML = element.estado == 0 ? "Pendiente de Revisión" : element.estado == 1 ? "Video Aceptado, ahora forma parte del diccionario" : "Video rechazado, por favor verifica el contenido de tu video";

                        let botonver = "<button class=\"btn btn-info\" onclick=\"vervideo(" + element.estado + "," + element.palabra_id + ")\">Ver Video <svg width=\"1em\" height=\"1em\" viewBox=\"0 0 16 16\" class=\"bi bi-x-circle-fill\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z\"/> </svg></button>"
                        cell4.innerHTML = botonver;
                        nonum -= 1;

                    });
                }
            });
    }
    getDatadash()
    function vervideo(estado, id) {
        if (estado == 1) {
            window.location.replace("/vervideo/" + id);

        } else if (estado == 2) {
            window.location.replace("/vervideorechazado/" + id);
        } else {
            window.location.replace("/vervideoespera/" + id);
        }
    }
</Script>

</html>